.bg-white {
    background-color: #ffffff !important;
}
.bg-blue {
    background-color: #3b89c9 !important;
}
.color-white {
    color: #ffffff !important;
}
.color-black {
    color: #000000 !important;
}
#top-page #logo img {
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#navbar-phone {
    margin-left: 15px;
    margin-top: 15px;
}
#contact #contact-phone {
    margin-top: 50px;
}
#bottom-page {
    padding-top: 20px;
}
#bottom-page .row {
    padding-bottom: 10px;
}
#bottom-page h4 {
    margin-top: 0;
    font-weight: bold;
}
#content-page-container {
    position: relative;
}
#book-form-large {
    position: absolute;
    top: 15px;
    right: 12%;
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    z-index: 99999;
}
#book-form-large .form-group {
    padding-bottom: 0;
}
#book-form-large .radio {
    display: inline-block;
    font-size: normal;
    font-weight: normal;
    margin-bottom: 5px;
}
