#content-page {
    padding-top: 5px;
    padding-bottom: 15px;
}
.choose-ticket {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
}
.right-panel {
    margin-left: -10px;
}
#price-box {
    padding: 5px;
}
#price-box h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
}
#price-box .table {
    margin-bottom: 5px;
}
#confirm {
    margin-top: 5px;
}
@media (max-width: 767px) {
    #content-page {
        padding-top: 0;
        padding-bottom: 0;
    }
    #price-box {
        margin-top: 5px;
    }
    .right-panel {
        margin-left: -15px;
    }
}
