#content-page {
    padding-top: 5px;
    padding-bottom: 15px;
}
#book-form .radio {
    display: inline-block;
    font-size: normal;
    font-weight: normal;
    margin-bottom: 5px;
}
#depart-table, #return-table {
    width: 100%;
}
.table.dates {
    margin-top: 5px;
    margin-bottom: 5px;
}
.table.dates tr td {
    border: 0;
}
.table.dates tr td p:last-child {
    margin-bottom: 0;
}
.flight-date {
    padding-top: 10px;
    cursor: pointer;
    background-color: #ffffff;
}
.flight-date a {
    color: inherit;
}
.flight-date a {
    text-decoration: none;
}
.flight-date:hover {
    background-color: #dddddd;
}
.flight-date.active {
    color: #ffffff !important;
    background-color: #3b89c9 !important;
}
table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
table.table-hover tbody tr {
    cursor: pointer;
}
table.ticket-detail tbody tr td {
    padding-right: 5px;
}
table.ticket-detail tbody tr td:last-child {
    padding-right: 0;
}
table.price-detail tbody tr td {
    padding-right: 10px;
}
table.price-detail tbody tr td:last-child {
    padding-right: 0;
}
#promotions-slider {
    margin-top: 5px;
}
#panel-box {
    margin-top: 5px;
}
.panel {
    margin-bottom: 5px;
    box-shadow: none;
}
.panel img {
    width: 100%;
}
#search-progress {
    margin-top: 5px;
    margin-right: 10px;
}
#choose-tickets {
    margin-top: 5px;
}
.choose-ticket {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
}
@media (max-width: 767px) {
    #content-page {
        padding-top: 0;
        padding-bottom: 0;
    }
    .mobile-no-padding-left {
        padding-left: 0 !important;
    }
    #tabs-panel {
        font-size: 11px;
    }
    #search-progress {
        margin-right: 5px;
    }
}
