#content-page {
    padding-top: 5px;
    padding-bottom: 15px;
}
#trip .flight-detail {
    margin-bottom: 10px;
}
#trip .flight-detail table {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
#trip .flight-detail table:last-child {
    margin-bottom: 0;
}
#passengers table {
    margin-bottom: 0;
}
#content-page .box {
    padding-bottom: 5px;
    border-bottom: 1px dashed #aaaaaa;
}
#content-page .box:last-child {
    border-bottom: 0;
}
@media (max-width: 767px) {
    #content-page {
        padding-top: 0;
        padding-bottom: 0;
    }
}
