#content-page #promotions-slider img {
    width: 100%;
}
#content-page-container {
    position: relative;
}
#book-form-large {
    position: absolute;
    top: 15px;
    right: 12%;
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    z-index: 99999;
}
#book-form-large .form-group {
    padding-bottom: 0;
}
#book-form-large .radio {
    display: inline-block;
    font-size: normal;
    font-weight: normal;
    margin-bottom: 5px;
}
#book-form-small .radio {
    display: inline-block;
    font-size: normal;
    font-weight: normal;
    margin-bottom: 5px;
}

/*Loading*/

#loading {
    background-color: #3b89c9;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0px;
    top: 0px;
}
#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
}
.object {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    float: left;
    margin-top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}
#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes object_one {
    75% {
        -webkit-transform: scale(0);
    }
}
@keyframes object_one {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
@-webkit-keyframes object_two {
    75% {
        -webkit-transform: scale(0);
    }
}
@keyframes object_two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
@-webkit-keyframes object_three {
    75% {
        -webkit-transform: scale(0);
    }
}
@keyframes object_three {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
