#page-content {
    margin-top: 5px;
}
#left-side {}
#right-side {
    padding-left: 20px;
}
.choose-ticket {
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
    #right-side {
        padding-left: 15px;
    }
}
